.footer {
  background-color: black;
  color: white;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  color: white;
}

.footer ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}