.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
}

.list {
  min-width: 400px;
  max-width: 400px;
  overflow: scroll;
  height: calc(100vh - 83px - 51px);
}

.list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list ul li {
  padding: 1rem;
  border-bottom: 1px solid #efefef;
}

.list ul li h2 {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.list ul li address {
  margin: 1rem 0 2rem 0;
}

.map {
  /* flex: 1; */
  height: 100%;
}

.main a {
  color: var(--dark-color);
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.address {
  flex: 2;
}

.moreInfo {
  flex: 1;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (min-width: 772px) {
  .main {
    flex-direction: row-reverse;
  }

  .map {
    flex: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
